html,
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Raleway';
}

#home {
  background-color: #FFED4A;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home .success {
  color: #2ECC40;
}

#home .cancel {
  color: #FF4136;
}

