html, body {
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway';
}

#home {
	background-color: #FFED4A;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	.container {

	}
}